/* src/styles/App.css */

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
}

.players-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-card {
  background-color: #1A1A1E;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 90%; /* Ajuste para largura responsiva */
  max-width: 800px; /* Largura máxima */
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rank-card img {
  width: 100px; /* Tamanho da imagem ajustado */
  margin: 0 20px; /* Espaçamento lateral ajustado */
}

.rank-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
}

.rank-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 30%;
  background-color:  #1A1A1E; 
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}

h1 {
  color: #bbdefb;
  font-size: 54px; /* Tamanho do texto */
}

h2 {
  color: #e3f2fd;
  font-size: 18px; /* Tamanho do texto */
}

p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .rank-card {
    flex-direction: column;
    align-items: center; /* Alinha os itens ao centro */
    width: 90%;
    text-align: center;
  }

  .rank-card img {
    width: 80px; /* Tamanho da imagem ajustado para mobile */
    margin: 10px 0; /* Espaçamento lateral ajustado para mobile */
  }

  .rank-info, .rank-stats {
    width: 100%;
    text-align: center; /* Centraliza o texto */
  }

  .rank-stats {
    margin-top: 10px;
  }
}
