/* src/components/Footer.css */

.footer {
    background-color: #2c2c2c; /* Tom de cinza mais escuro */
    color: #ffffff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer svg {
    margin-left: 8px;
  }
  