/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0a0a0a;
  color: #fff;
  border-bottom: 1px solid #444;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-right .login-button {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.header-right .login-button:hover {
  background-color: #1c86ee;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center; /* Centraliza os itens */
  }

  .header-left, .header-nav, .header-right {
    width: 100%;
    text-align: center; /* Centraliza o texto */
  }

  .header-nav {
    flex-direction: column;
    gap: 10px;
  }

  .header-right .login-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
