.rank-card {
  background-color: #1A1A1E;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto; /* Centraliza o card horizontalmente */
  width: 90%; /* Ajuste para largura responsiva */
  max-width: 800px; /* Largura máxima */
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.rank-card.first {
  border: 2px solid #FFD700; /* Borda amarela para o primeiro jogador */
}

.rank-card img {
  width: 100px;
  margin: 0 20px;
}

.rank-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
}

.rank-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 30%;
  background-color: #1A1A1E;
  padding: 10px;
  border-radius: 8px;
  color: #ffffff;
}

.first-player-highlight {
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .rank-card {
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
  }

  .rank-card img {
    width: 80px;
    margin: 10px 0;
  }

  .rank-info, .rank-stats {
    width: 100%;
    text-align: center;
  }

  .rank-stats {
    margin-top: 10px;
  }
}

.language-button {
  background-color: rgba(255, 255, 255, 0.7); /* Fundo branco com 70% de opacidade */
  color: #333; /* Cor do texto */
  border: 1px solid #ccc; /* Borda cinza clara */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 20px; /* Espaçamento interno */
  margin: 20px auto; /* Centraliza o botão horizontalmente */
  display: block; /* Faz o botão ocupar toda a linha disponível */
  cursor: pointer;
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para mudanças de cor */
}

.language-button:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com 90% de opacidade no hover */
  color: #000; /* Cor do texto no hover */
}
